@page "/"
@using BlazorLoginTest.Data
@using Microsoft.AspNetCore.Identity
@* @using Microsoft.AspNetCore.Components.Authorization
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider *@

<PageTitle>Home</PageTitle>


<AuthorizeView>
    <Authorized>
        <div>
            <p>You are logged in as User</p>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <p>You are NOT logged in</p>
        </div>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <Authorized>
        <div>
            <p>You are logged in as Admin</p>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    public bool isAdmin;
    public bool isAuthenticated;

    // protected override async Task OnInitializedAsync()
    // {
    //     var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    //     var user = authState.User;

    //     if (user.Identity.IsAuthenticated)
    //     {
    //         var appUser = await UserManager.GetUserAsync(user);
    //         isAuthenticated = user.Identity.IsAuthenticated;
    //         isAdmin = await UserManager.IsInRoleAsync(appUser, "Admin");
    //     }
    // }
}


